# Local .terraform directories and files
**./terraform/.terraform/*
.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars


#ansible
*.cfg


.authorized_key.json